<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.redapesolutions.syncnow" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>sync-now</name><DESCRIPTION>Sync Now Cordova Plugin</DESCRIPTION><js-module name="sync-now" src="www/sync-now.js"><clobbers target="cordova.plugins.sync-now" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="sync-now"><param name="android-package" value="com.redapesolutions.syncnow.sync-now" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/sync-now.java" target-dir="src/com/redapesolutions/syncnow/sync-now" /></platform></plugin>